/*  your css code here. If applicable */
:root{
	background-color:skyblue;
}
.p1{
	background-color:black;
	color:white;
}
.p4{
	color:red;
}
li:first-child{
	background-color:white;
}
li:last-child{
	background-color:white;
}
li:nth-child(2){
	background-color:slategray;
}
li:nth-child(4){
	background-color:slategray;
}
li:nth-child(3){
	background-color:pink;
}